<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mistletoe_mistletoesmb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于调用 JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />    

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 主 Activity -->
        <activity
            android:name=".WBAuthActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 授权认证 -->
        <activity android:name=".MistletoeSMBMainActivity" />
      	<activity android:name=".MistletoeSMBWeiboActivity" />
      	<activity android:name=".MistletoeSMBWeiboViewActivity" />
        <activity android:name=".WBAuthCodeActivity" />
        <activity android:name=".WBShareMainActivity" />
        
        <!-- 分享 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WBShareResponseActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_RESP_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 社会化组件 -->
        <activity android:name="com.example.mistletoe_mistletoesmb.WBSocialActivity"/>
        
        <!-- 登录/注销 -->
        <activity android:name=".WBLoginLogoutActivity" />

        <!-- OpenAPI -->
        <activity android:name=".WBOpenAPIActivity" />
        <activity android:name=".WBUserAPIActivity" />
        <activity android:name=".WBStatusAPIActivity" />
        <activity android:name=".WBCommentAPIActivity" />
        <activity android:name=".WBInviteAPIActivity" />
        <activity android:name=".WBLogoutAPIActivity" />

        <!-- 其他 -->
        <!-- <activity android:name=".WBCallActivityV3" /> -->
        <!-- <activity android:name=".WBUserStateActivity" /> -->
        
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>
    </application>

</manifest>
